<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guia7sharedpreferences">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icongame"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icongame_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Respuesta"></activity>
        <activity android:name=".Puntaje" />
        <activity android:name=".Adivina" />
        <activity android:name=".Configuracion" />
        <activity android:name=".Datos" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>